<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mail.newbeemail.dao.CheckdateMapper">



	<select id="findIndexCheckDateByUserId"
		resultType="ltd.newbee.mail.newbeemail.entity.NewBeeMallGoods">

		SELECT f.* from rescent_check_goods join
		tb_newbee_mall_goods_info as f on
		f.goods_id=
		rescent_check_goods.goods_id where user_id = #{userid}
		group by
		goods_id,user_id order by
		count(check_date) desc limit #{list}





	</select>


</mapper>