<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mail.newbeemail.dao.InsertIndexConfigMapper">
	
	
	<insert id="insertIndexConfigByGoodsId">
	
	
	insert into tb_newbee_mall_index_config(goods_id)
	value
	<foreach item="item" collection="list" separator=",">
	    	(#{item.goodsId})
	 	 </foreach>
	</insert>
	
	
	
	
	
	</mapper> 