<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="ltd.newbee.mail.newbeemail.dao.ProductFormulaMapper">

    

    <select id="getProductFormula" resultType="ltd.newbee.mail.newbeemail.entity.ProductFormula">
     SELECT * FROM goods_detail where goods_id= #{goodsId}
     
     
     
     
    </select>

</mapper>