<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mail.newbeemail.dao.QuestionsAndAnswerMapper">



	<select id="getQuestionsAndAnswer"
		resultType="ltd.newbee.mail.newbeemail.entity.QuestionsAndAnswer">

		SELECT
		ans.goods_id,question_contents,question_date,answer_date
		,answer_contents,
		count(good.user_id) as total FROM questions as que
		join
		answers as ans
		on
		que.question_id= ans.question_id left join qa_like
		as
		good on
		good.answer_id=
		ans.answer_id where que.goods_id = #{goodsId}
		group by
		good.answer_id order by
		count(good.user_id) DESC ,answer_date
		DESC
		order by ${orderBy} DESC
		limit
		#{page},#{number}


	</select>
	<select id="getQuestionsTotol" resultType="int">

		SELECT
		count(*) as
		totalCount
		FROM questions as que join
		answers as ans
		on que.question_id=
		ans.question_id where que.goods_id = #{goodsId} and proved=0



	</select>

</mapper>