<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mail.newbeemail.dao.ReviewMapper">



	<select id="getReview"
		resultType="ltd.newbee.mail.newbeemail.entity.Review">
        SELECT * ,count(re.review_id) as countreview FROM
		tb_newbee_mall_order_item as o join review as re on
		re.order_id
		=
		o.order_id left join
		review_like as rl on
		rl.review_id=re.review_id
		where o.goods_id=
		#{goodsId} AND proved=0 AND
		re.rating=#{rating}
		group by re.review_id order by
		rating
		DESC,countreview desc
		limit #{start},#{number}




	</select>


</mapper>
